<div class="container">
  <h2>
    {{counterTime.mins | number : '2.0'}}:{{counterTime.secs | number : '2.0'}}
  </h2>
  <button mat-fab matTooltip="Basic" *ngIf="!timerStarting" (click)="startTimer($event)" >
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button mat-fab matTooltip="Basic" *ngIf="timerStarting && !paused" (click)="pauseTimer()">
    <mat-icon>pause</mat-icon>
  </button>

  <button mat-fab matTooltip="Basic" *ngIf="paused" (click)="resumeTimer()">
    <mat-icon>
      <span class="material-symbols-outlined">
        resume
      </span>
    </mat-icon>
  </button>
  <button mat-fab matTooltip="Basic" *ngIf="paused" (click)="resetTimer()">
    <mat-icon>stop</mat-icon>
  </button>

  

</div>
